.onboarding-button:hover {
    .link-like {
        color: var(--body);
    }
}

.onboarding-button {
    .link-like {
        color: $link-color;
    }
    .progress-bar-container {
        width: 1.5em;
        margin-left: 0.5em;
        margin-right: 0.3em;

        svg.CircularProgressbar {
            .CircularProgressbar-path {
                stroke: $oc-green-4;
            }
            .CircularProgressbar-trail {
                stroke: $oc-red-4;
            }
        }
    }
    .progress-bar-container.hidden {
        visibility: hidden;
    }
}

.onboarding-container {
    .header {
        padding: 0.5em;

        p {
            padding-left: 3em;
            margin-bottom: 0;
        }
    }
}
.site-admin-checklist-container {
    ul.site-admin-checklist {
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            padding: 0;
            border-bottom: 1px solid $color-light-border;
        }
        li:first-child {
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
        }
        li:last-child {
            border-bottom: none;
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
        }
        li:hover {
            background-color: $color-light-bg-2;
        }
    }
    p {
        margin: 0;
    }
    .item-container {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        cursor: pointer;
    }
    .info-button {
        float: right;
        color: $color-text-1;
    }
    .info-button:hover {
        color: $color-light-text-2;
    }
    .item-detail {
        padding-top: 1em;
        padding-left: 2em;
        padding-right: 2em;
    }
    .item-detail.show {
        display: block;
    }
    .item-detail.hide {
        display: none;
    }
    .done {
        color: $oc-green-6;
    }
    .todo {
        color: $oc-red-6;
    }
}

/************************************************************/

.first-use-button {
	display: block;
	position: relative;
}
.first-use-button:before,
.first-use-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.first-use-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #00b4f2 20%, transparent 20%),
        radial-gradient(circle, transparent 12%, #f96216 20%, transparent 30%),
        radial-gradient(circle, #f96216 20%, transparent 20%), radial-gradient(circle, #00b4f2 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #b200f8 15%, transparent 20%),
        radial-gradient(circle, #b200f8 20%, transparent 20%), radial-gradient(circle, #b200f8 20%, transparent 20%),
        radial-gradient(circle, #00b4f2 20%, transparent 20%), radial-gradient(circle, #f96216 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    /* background-position:
        0% 80%,
        0% 20%,
        10% 40%,
        20% 0%,
        30% 30%,
        22% 50%,
        50% 50%,
        65% 20%,
        90% 30%; */
}
.first-use-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #00b4f2 20%, transparent 20%),
        radial-gradient(circle, #f96216 20%, transparent 20%),
        radial-gradient(circle, transparent 8%, #00b4f2 15%, transparent 20%),
        radial-gradient(circle, #b200f8 20%, transparent 20%), radial-gradient(circle, #00b4f2 20%, transparent 20%),
        radial-gradient(circle, #00b4f2 20%, transparent 20%), radial-gradient(circle, #b200f8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    /* background-position:
        0% 80%,
        20% 80%,
        45% 60%,
        60% 100%,
        75% 70%,
        95% 60%,
        105% 0%; */
}
.first-use-button:active {
    background-color: #19202f;
    box-shadow: 0 0px 24px rgba(13, 100, 255, 0.5);
}
.first-use-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;

	// Remove 2 lines elow
	animation-iteration-count: infinite;
	animation-delay: 1000ms;
}
.first-use-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;

	// Remove 2 lines Below
	animation-iteration-count: infinite;
	animation-delay: 1000ms;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
